extend layout

block content
    h2 Completed tasks
    ul.list-group
        each task in tasks
            if task.completed
                li.list-group-item
                    .task-desc.done
                        | #{task.name} 
                        em Completed on #{task.completedDate}
                    