extend layout

block content
    .row
        .col-sm-6
            form.form(action="/tasks", method="POST")
                .form-group
                    .input-group
                        input.form-control(type="text", name="name", required)
                        span.input-group-btn
                            button.btn.btn-primary(type="submit") Create task
    h2 To do:
    if justDeleted
        .alert.alert-danger Task deleted
    ul.list-group
        each task in tasks
            if !task.completed
                li.list-group-item
                    form(action="/delete", method="POST")
                        input(type="hidden", name="task" value=task.id)
                        button.btn.btn-danger.pull-right(title="Delete")
                            i.glyphicon.glyphicon-trash
                    form(action="/done", method="POST")
                        input(type="hidden", name="task" value=task.id)
                        button.btn.btn-success.pull-left(type="submit", title="Mark as completed")
                            i.glyphicon.glyphicon-ok
                    .task-desc
                        | #{task.name}
                        em= task.createdDate  
                    