extend layout

block content
    form.form(action="/tasks", method="POST")
        .form-group
            input.form-control(type="text", name="name", required)
            button.btn.btn-primary(type="submit") Create task
    ul.list-group
        each task in tasks
            if !task.completed
                li.list-group-item
                    form(action="/delete", method="POST")
                        input(type="hidden", name="task" value=task.id)
                        button.btn.btn-danger.pull-right(title="Delete")
                            i.glyphicon.glyphicon-trash
                    form(action="/done", method="POST")
                        input(type="hidden", name="task" value=task.id)
                        button.btn.btn-success(type="submit", title="Mark as completed")
                            i.glyphicon.glyphicon-ok
                    | #{task.name}
                    em= task.createdDate  
                    