doctype html
html(lang="en")
  head
    title=title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    header
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href="/tasks")=title
                ul.nav.navbar-nav
                    li
                        a(href="/tasks") Tasks
                    li
                        a(href="/completed") Completed
    .container
        block content